$img-directory: '../../../images/home/' !default;
$userhelp-img-directory: '../../../images/home/userhelp/' !default;

$max-display-width: 1920px !default;
$min-display-width: 1000px !default;
$display-width: 1920px !default;
$content-width: 1264px !default;
